body {
    margin: 8px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white; /* Set a specific background color for main */
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%); /* Corrected syntax */
    padding: 8px;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white; /* Corrected syntax */
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 10%); /* Corrected syntax */
}

.navbar li {
    float: left;
}