body {
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #17072b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    font-size: 200%;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 150%;
    font-family: 'Times New Roman';
}

nav ul li {
    display: inline;
    margin: 0 15px;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    font-family:'Arial';
    font-size: 225%;

}

p {
    font-family:'Sans-Serif';
    font-size: 230%;
}

img {
    width: 20%;
    height: 15%;
}


main {
    padding: 20px;
    

}

#welcome, #lineup, #studyplan {
    margin-bottom: 40px;
   

}

.images img {
    width: 45%;
    margin: 5px;
}

.study-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.study-item {
    background-color: #172d67;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

button {
    background-color: #8c15e9;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

footer {
    background-color: #8c15e9;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
