img {                                                   
    max-width: 100%;
    height: auto;
    filter: brightness(70%) contrast(100%) saturate(110%);
    border-radius: 15px;
    display: block;
    margin: 25px auto;
    text-align: center;
}

.image-container {
    text-align: center;
    font-family: Arial, sans-serif;
}

div {
    display: flex;
    justify-content: center;
}


width: 200%;
height: 500%;